<header></header>

<div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#speakers-list">Presentateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sessions-list">Sessions</a>
                </li>
            </ul>
        </div>
    </nav>
    <section id="main-view">
        Ici le contenu principal en attente de chargement

        <img class="speaker-img" src="https://raw.githubusercontent.com/2017-D17/conference-app-images/master/images/${speaker.image}">
        <h1>Conference</h1>
        <br>
        <br>
        <a href="#sessions-list" class="btn btn-primary active" role="button">voir les sessions</a>
        <br>
        <br>
        <a href="#speakers-list" class="btn btn-primary active" role="button">voir les présentateurs</a>

    </section>
    <footer>Ici bientôt un pied de page</footer>


</div>